//layout {
//    default_tab_template {
//        pane size=1 borderless=true {
//            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
//              color_blue  "#8ba4b0"
//              color_green "#728F66"
//              color_orange "#ffb86c"
//              color_black  "#1a1a1a"
//              color_text "#6C7086"
//              color_lock "#8ba4b0"
//
//              format_left   "{mode}"
//              format_center "{tabs}"
//              format_right  "{command_git_branch} {datetime}"
//              format_space  ""
//
//              border_enabled  "false"
//              border_char     "─"
//              border_format   "#[fg=#9D8F6F]{char}"
//              border_position "top"
//
//              hide_frame_for_single_pane "true"
//
//              mode_locked        "#[fg=$lock] LOCKED "
//              mode_normal        "#[fg=$green] NORMAL "
//              mode_resize        "#[fg=$orange] RESIZE "
//              mode_pane          "#[fg=$orange] PANE   "
//              mode_tab           "#[fg=$orange] TAB    "
//              mode_scroll        "#[fg=$orange] SCROLL "
//              mode_enter_search  "#[fg=$orange] SEARCH "
//              mode_search        "#[fg=$orange] SEARCH "
//              mode_rename_pane   "#[fg=$orange] RENAME "
//              mode_session       "#[fg=$orange] SESSION "
//              mode_move          "#[fg=$orange] MOVE   "
//              mode_prompt        "#[fg=$orange] PROMPT "
//              mode_tmux          "#[bg=#ffc387] TMUX   "
//
//              // formatting for inactive tabs
//              tab_normal              "#[fg=$text] {name} "
//              tab_normal_fullscreen   "#[fg=$text] {name} [] "
//              tab_normal_sync         "#[fg=$text] {name} <> "
//
//              // formatting for the current active tab
//              tab_active              "#[bg=$green,fg=$black,bold] {name} {floating_indicator}"
//              tab_active_fullscreen   "#[bg=$green,fg=$black,bold] {name} {fullscreen_indicator}"
//              tab_active_sync         "#[bg=$green,fg=$black,bold] {name} {sync_indicator}"
//
//              // separator between the tabs
//
//              // format when renaming a tab
//              tab_rename              "#[fg=$black,bg=$green,bold] {index} : {name} {floating_indicator}"
//
//              // indicators
//              tab_sync_indicator       "<> "
//              tab_fullscreen_indicator "[] "
//              tab_floating_indicator   "⬚ "
//
//              command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
//              command_git_branch_format      "#[fg=green] {stdout} "
//              command_git_branch_interval    "10"
//              command_git_branch_rendermode  "static"
//            }
//        }
//        children
//    }
//}
layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
}
